.alert__title {
    margin: 0;
    color: #494949;
}

.alert__body {
    margin-top: 1em;
    color: #696969;
}

.alert__footer {
    margin-top: 2em;
    text-align: right;
}

.alert__button {
    padding: .3em .8em;
    background-color: transparent;
    border-style: solid;
    margin: 0 .2em;
    cursor: pointer;
}

.alert__button:hover {
    box-shadow: 2px 2px 5px #aeacac;
}