<div class="not-found-container">
  <header class="not-found-container__header">
    <h1 class="not-fount-container__title">Page Not Fount</h1>
  </header>
  <section class="not-found-container__section">
    <p class="not-fount-container__paragraph">Sorry, this is not the place to find what you're looking for.</p>
  </section>
  <footer class="not-found-container__footer">
    <a class="not-fount-container__back-button" (click)="takeMeToHome()">Take me to the home, please.</a>
  </footer>
</div>