.loged-home {
    height: 100%;
}

.loged-home__background-image {
    background-image: url("./../../../assets/img/dashboard-background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: blur(5px);
    position: fixed;
    filter: blur(5px);
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.loged-home__main-content {
    background-color: #f5f5f5da;
    min-height: 70vh;
    width: 70%;
    max-width: 900px;
    margin: auto;
    padding: 1.5em;

    margin-top: 3em;

    box-shadow: 2px 2px 10px #a09e9e;
    border-radius: 8px;
    position: relative;
}